{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}






      <div class="card border-light shadow-sm mb-4">
          <div class="card-body">

              <div class="d-flex justify-content-between">
                  <h5> Рекомендации для ... </h5>
                  <button class="btn btn-sm btn-secondary " type="button">Добавить запись</button>
              </div><br>
              <div class="table-responsive">
                  <table class="table table-centered table-nowrap mb-0 rounded">
                      <thead class="thead-light">
                          <tr>
                              <th class="border-0">#</th>
                              <th class="border-0">Дата</th>
                              <th class="border-0">Рекомендации</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- Item -->
                          <tr>
                              <td class="border-0"><a href="#" class="text-primary fw-bold">1</a> </td>
                              <td>15.04.2021</td>
                              <td class="border-0">Пить больше воды, не прыгать с парашютом</td>

                          </tr>
                          <!-- End of Item -->

                          <!-- Item -->
                          <tr>
                              <td><a href="#" class="text-primary fw-bold">2</a> </td>
                              <td>12.04.2021</td>
                              <td> Посидите, попейте валерьянки, поспите </td>
                          </tr>
                          <!-- End of Item -->

                          <!-- Item -->
                          <tr>
                              <td><a href="#" class="text-primary fw-bold">3</a> </td>
                              <td> 11.04.2021 </td>
                              <td> Поспать, отдохнуть, не волноваться </td>
                          </tr>
                          <!-- End of Item -->

                      </tbody>
                  </table>
              </div>
          </div>
      </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
