{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Modal Content -->
    <div class="modal fade" id="modal-default" tabindex="-1" role="dialog"
         aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">Введите новую рекомендацию</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="my-4">
                        <form action="" method="post">
                            <label for="textarea">Поле для рекомендации</label>
                            <textarea class="form-control" name="text" placeholder="Введите текст..." id="textarea"
                                      rows="4"></textarea>
                            <br>
                            <button type="submit" class="btn btn-secondary">Подтвердить</button>
                            <button type="button" class="btn btn-link text-gray ms-auto"
                                    data-bs-dismiss="modal">Закрыть
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="card border-light shadow-sm mb-4">
        <div class="card-body">

            <div class="d-flex justify-content-between">
                <h5> Рекомендации для пациента {{ patient_name[0] }} </h5>
                <button type="button" class="btn btn-block btn-dark mb-3" data-bs-toggle="modal"
                        data-bs-target="#modal-default">Изменить
                </button>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                    <tr>
                        <th class="border-0">Рекомендации</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Item -->
                    {% for rec in recommendations %}
                        <tr>
                            <td><span class="fw-normal"><a href="#">{{ rec.text }}</a></span></td>
                        </tr>
                          {% endfor %}
                          <!-- End of Item -->
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
